keras
matplotlib
mysql_connector_repackaged
numpy
opencv_python
opencv_python_headless
pandas
Pillow
plotly
pyautogui
pygetwindow
streamlit
streamlit_drawable_canvas
tensorflow
torch
torchvision
